@media print, (max-width: 1023px) {
 
    :root {
        --font_size_title: 28px;
        --font_size: 16px;
    }
    header .mob_menu_btn {
        display: flex;
        order: 1;
    }
    header .menu {
        position: fixed;
        z-index: 666;
        top: 0;
        left: 0;
        display: flex;
        overflow: auto;
        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 30px;        
        transition: transform .3s linear;
        transform: translateX(-100%);
        background: #fff;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }
    header .menu.show {
        transform: translateX(0);
    }
    header .close_btn {
        display: flex;
    }
    .menu_open header .mob_menu_btn {
        display: none;
    }
    header .menu .item {
        width: 100%;
        margin-right: 0;
        margin-bottom: 16px;
        text-align: start;
    }
    header .menu .item + .item {
        margin-left: 0;
    }
    .mob_menu_btn.active span:before {
        top: 0;
        transform: rotate(45deg);
    }
    .mob_menu_btn.active span:after {
        top: 0;
        transform: rotate(-45deg);
    }
    .menu_open header {
        background: #2A292F;
    }
    header .close_btn {
        display: none;
    }
    header .menu .item a {
        font-size: 16px;
        line-height: 1;
    }
    header .menu .item {
        margin-bottom: 30px;
    }
    header .menu .item:last-child {
        margin-bottom: 0px;
    }
    header .menu .item.active a {
        text-shadow: none;
        font-weight: 700;
    }
    .top_block {
        display: none;
    }
    .top_block-mob {
        display: block;
        margin: 35px auto 0;
    }
    header {
        padding: 20px 0 25px;
    }
    header .mob_menu_btn {
        position: absolute;
        top: 18px;
        right: 20px;
    }
    .header_text {
        display: none;
    }
    .menu_open header .close_btn {
        display: block;
        top: 10px;
        right: 20px;
        z-index: 999;
        position: absolute;
    }
    .header_logo {
        gap: 10px;
        font-size: 12px;
        flex-direction: column;
        align-items: flex-start;
    }
    .header_contact {
        flex-direction: column;
        align-items: end;
    }
    .header_contact-telegram {
        margin-right: 50px;
    }
    .header_contact-soc {
        margin-bottom: 10px;
    }
    .header_contact-mob {
        display: block;
    }
    .header_logo-mob {
        display: block;
        font-size: 8px;
        line-height: 1.25;
        font-weight: 300;
        margin-bottom: 50px;
    }
    .header_logo-mob span {
        display: block;
    }
    .header_contact-mob .header_contact-phone {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 16px;
        display: block;
    }
    .header_contact-mob_text {
        margin-top: 20px;
    }

    .first-section_title {
        font-size: 26px;
    }
    .first-section_wrap {
        flex-direction: column-reverse;
    }
    .first-section_img {
        display: none;
    }
    .first-section_info {
        width: 100%;
    }
    .first-section_img-mob {
        display: block;       
        width: 100%;
        height: auto;
        margin: 0 auto 30px;
    }
    .first-section_img-mob img {
        width: 100%;
        height: 100%;
    }
    .problem_wrap {
        flex-direction: column;
        gap: 30px;
    }
    .problem_img {
        width: 100%;
        height: auto;
    }
    .problem_info {
        width: 100%;
    }
    .decision_box {
        max-width: calc(100% - 50px);
    }
    .benefits_wrap {
        flex-direction: column-reverse;
        gap: 30px;
    }
    .benefits_img {
        width: 100%;
        height: auto;
    }
    .benefits_info {
        width: 100%;
    }
    .training_item:nth-child(1) {
        width: 100%;
    }
    .training_item:nth-child(2) {
        width: 100%;
    }
    .training_item:nth-child(4) {
        width: 100%;
    }
    .training_item:nth-child(5) {
        width: 100%;
    }
    .advantages_items > * {
        width: 100%;
    }
    .callback_wrap {
        flex-direction: column;
    }
    .map_wrap {
        width: 100%;
        border-radius: 0;
    }
    .client_items,
    .client_items2,
    .client_items3 {
        margin-bottom: 20px;
    }
    .footer_items {
        flex-wrap: wrap;
    }
    .footer_item:nth-child(2) {
        order: 1;
        width: 100%;
    }
    .footer_item:nth-child(1) .footer_text,
    .footer_item:nth-child(1) .footer_politic {
        display: none;
    }
    footer {
        padding: 50px 0;
    }
    .footer_mob {
        display: block;
        margin-top: 40px;
    }
    .callback {
        padding: 50px 0 50px;
    }
    .callback_title {
        text-align: center;
        margin-bottom: 40px;
    }
    .map_wrap {
        height: 300px;
    }
    .callback .cont {
        padding: 0;
    }
    .callback_info {
        padding-left: 20px;
        padding-right: 20px;
    }
    .footer_item:nth-child(2) {
        margin-top: 10px;
        margin-left: 0px;
    }
    .footer_item:nth-child(3) .footer_soc {
        justify-content: flex-end;
    }
    .footer_item:nth-child(3) {
        margin-top: 0px;
    }
    



    
}
