@media print, (max-width: 767px) {

    :root {
        --font_size_title: 28px;
        --font_size: 16px;
    }
    header .mob_menu_btn {
        top: 13px;
    }
    .menu_open header .close_btn {
        top: 4px;
    }
    .case .swiper-button-prev,
    .case .swiper-button-next {
        display: none;
    }
    .case_box {
        margin: 0;
    }
    .step_items {
        flex-direction: column;
    }
    .step_items > * {
        width: 100%;
    }
    .step_item:nth-child(1)::after {
        position: absolute;
        content: "";
        width: 22px;
        height: 41px;
        right: 50%;
        top: 100%;
        transform: translateX(11px);
        background: url(../images/arrow2.svg);
    }
    .step_item:nth-child(2)::after {
        position: absolute;
        content: "";
        width: 22px;
        height: 41px;
        right: 50%;
        top: 100%;
        transform: translateX(11px);
        background: url(../images/arrow2.svg);
    }
    .step_item:nth-child(3)::after {
        transform: translateX(11px);
    }
    .step_item:nth-child(4)::after {
        display: none;
    }
    .step_item:nth-child(5)::after {
        position: absolute;
        content: "";
        width: 22px;
        height: 41px;
        right: 50%;
        top: 100%;
        transform: translateX(11px);
        background: url(../images/arrow2.svg);
    }
    .step_item:nth-child(5) {
        order: 4;
    }
    .step_item:nth-child(4) {
        order: 5;
    }
    .decision_box {
        max-width: 100%;
        padding: 30px;
    }
    .decision_box {
        border-radius: 0;
    }
    .decision .cont {
        padding: 0;
    }
    .decision_box:after {
        width: 67px;
        height: 67px;
        top: -33px;
        right: 35px;
        background-size: cover;
    }
    .problem_img:after {
        width: 70px;
        height: 70px;
    }
    .benefits_img:after {
        width: 70px;
        height: 70px;
    }
    .first-section_title {
        font-size: 24px;
    }
    .first-section_text {
        margin-bottom: 30px;
    }
    .block,
    .block2,
    .block3 {
        margin-bottom: 50px;
    }
    .first-section {
        margin-bottom: 100px;
    }
    .training_item-icon {
        width: 80px;
        height: 80px;
        padding: 20px;
        margin-top: -40px;
    }
    .training_item-icon img {
        width: 100%;
        height: 100%;
    }
    .training_items {
        gap: 30px;
    }
    .advantages_item-img {
        width: 170px;
        height: 170px;
    }
    .header_logo {
        font-size: 8px;
    }
    .step_title {
        margin-bottom: 40px;
    }
    .case .swiper {
        padding-bottom: 40px;
    }
    .case .swiper .swiper-pagination,
    .client_items .swiper-pagination,
    .client_items2 .swiper-pagination,
    .client_items3 .swiper-pagination {
        display: flex;
    }
    .client_btn {
        margin: 40px auto 20px;
    }
    




}
