/* For old browsers */
@supports (not(--css: variables)) {
    .supports_error {
        display: flex !important;
    }
}

/* For IE */
@media screen and (-ms-high-contrast: active),
(-ms-high-contrast: none) {
    .supports_error {
        display: flex !important;
    }
}



/*------------------
    Reset styles
------------------*/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*:before,
*:after {
    box-sizing: border-box;
}

html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;

    overscroll-behavior: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-overflow-scrolling: touch;
    text-rendering: optimizeLegibility;
    text-decoration-skip: objects;
}

img {
    border-style: none;
}

textarea {
    overflow: auto;
}

input,
textarea,
input:active,
textarea:active,
button {
    margin: 0;

    -webkit-border-radius: 0;
    border-radius: 0;
    outline: none transparent !important;
    box-shadow: none;

    -webkit-appearance: none;
    appearance: none;
    -moz-outline: none !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    margin: 0;

    -webkit-appearance: none;
}

input[type=number] {
    -moz-appearance: textfield;
}

:focus {
    outline: 0;
}

:hover,
:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-touch-callout: none;
}


::-ms-clear {
    display: none;
}



@font-face {
    font-family: 'druk';
    src: local('druktextwidecyr-mediumr'), local('druktextwidecyr-medium'),
        url('../fonts/druktextwidecyr-medium.woff') format('woff'),
        url('../fonts/druktextwidecyr-medium.ttf') format('truetype');
    }


/*-------------------
    Global styles
-------------------*/
:root {
    --bg: #fff;
    --scroll_width: 17px;
    --text_color: #131313;
    --font_size: 18px;
    --font_size_title: 45px;
    --font_family: "Mulish";
}


::selection {
    color: #fff;

    background: #18A0FB;
}

::-moz-selection {
    color: #fff;

    background: #18A0FB;
}


.clear {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}



html {
    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}

body {
    color: var(--text_color);
    font-family: var(--font_family);
    font-size: var(--font_size);

    height: 100%;
    min-height: -moz-available;
    min-height: -webkit-fill-available;
    min-height: fill-available;
}


button {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;

    display: inline-block;

    cursor: pointer;
    vertical-align: top;

    border: none;
    background: none;
}


.wrap {
    position: relative;

    display: flex;
    overflow: hidden;
    flex-direction: column;

    min-width: 360px;
    min-height: 100%;

    background: var(--bg);
}


.main {
    flex: 1 0 auto;
}


.cont {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}


.lozad {
    transition: opacity .5s linear;

    opacity: 0;
}

.lozad.loaded {
    opacity: 1;
}


.row {
    display: flex;

    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}



.overlay {
    position: fixed;
    z-index: 102;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;

    opacity: .65;
    background: #000;
}



.supports_error {
    font-size: 20px;
    line-height: 30px;

    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;

    display: none;

    width: 100%;
    height: 100%;
    padding: 20px;

    text-align: center;

    background: #fff;

    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.supports_error.show {
    display: flex;
}






body.menu_open {
    overflow: hidden;
}
#top .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .mob_menu_btn {
    display: none;
    margin-right: 0px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 8;
}

header .close_btn {
    display: none;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    z-index: 103;
}

header .close_btn img {
    display: block;
    margin: 0 auto;
}
.header_box {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header {
    padding: 30px 0 40px;
    position: relative;
}
header .menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
header .menu .item a {
    text-decoration: none;
    color: #131313;
    font-family: var(--font_family);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    transition: all .3s;
}
header .menu .item.active a {
    color: var(--text_color);
    text-shadow: 0 0 .65px var(--text_color), 0 0 .65px var(--text_color);
}
header .menu .item:hover a {
    color: var(--text_color);
    text-shadow: 0 0 .65px var(--text_color), 0 0 .65px var(--text_color);
}
.header_text {
    color: #131313;
    font-family: var(--font_family);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: end;
}
.header_logo {
    display: flex;
    align-items: end;
    gap: 18px;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.25;
}
header .menu .item + .item {
    margin-left: 30px;
}
.header_contact {
    display: flex;
    align-items: center;
}
.header_contact-soc {
    display: flex;
    align-items: center;
}
.header_contact-whatsapp {
    text-decoration: none;
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #8FFF00;
    display: flex;
    align-items:center;
    justify-content: center;
}
.header_contact-telegram {
    text-decoration: none; 
    margin-right: 15px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #8FFF00;
    display: flex;
    align-items:center;
    justify-content: center;
}
.header_contact-phone {
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-decoration: none; 
    color: #131313;
}



.block {
    margin-bottom: 100px;
}
.first-section_title {
    font-family: "druk";
    color: rgb(19, 19, 19);
    font-size: 36px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    max-width: 1050px;
    margin-bottom: 22px;
}
.first-section_wrap {
    display: flex;
    align-items: center;
}
.first-section_info {
    width: calc(100% - 600px);
}
.first-section_text {
    color: rgb(19, 19, 19);
    font-size: 18px;
    font-weight: 300;
    line-height: 1.27;
    margin-bottom: 48px;
}
.first-section_btn {
    border-radius: 63px;
    background: rgb(143, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    width: 319px;
    height: 56px;
    text-decoration: none;
    margin-bottom: 30px;
}
.first-section_desc {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    margin-bottom: 20px;
}
.first-section_item {
    border-radius: 20px;
    background: rgb(255, 242, 247);
    padding: 14px 30px 15px;
    position: relative;
    max-width: 425px;
    width: 100%;
}
.first-section_item-title {
    color: rgb(19, 19, 19);
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 7px;
}
.first-section_item:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    right: -20px;
    top: -8px;
    background: url(../images/icon.png);
}
.first-section_item-text {
    color: rgb(19, 19, 19);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.3;
}
.first-section_img {
    width: 586px;
    height: 249px;
}
.first-section_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}




.title {
    color: rgb(19, 19, 19);
    font-family: "druk";
    font-size: 32px;
    font-weight: 700;
    line-height: 1.28;
    margin-bottom: 30px;
}
.block2 {
    margin-bottom: 70px;
}
.problem_wrap {
    display: flex;
    justify-content: space-between;
}
.problem_img {
    width: 560px;
    height: 352px;
    position: relative;
}
.problem_img:after {
    position: absolute;
    content: "";
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background: #FF0090;
    top: 0;
    right: 0;
}
.problem_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 500px;
}
.problem_info {
    width: calc(100% - 600px);
}
.problem_info ul {
    list-style: none;
}
.problem_info ul li {
    padding-left: 34px;
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    position: relative;
}
.problem_info ul li + li {
    margin-top: 20px;
}
.problem_info ul li:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 4px;
    background: url(../images/list1.svg);
}



.decision_title {
    margin-bottom: 19px;
    text-align: center;
}
.decision_box {
    border-radius: 40px;
    background: rgb(143, 255, 0);
    padding: 30px 80px;
    max-width: 760px;
    width: 100%;
    margin: 0 auto;
    position: relative;
}
.decision_box:after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    top: -40px;
    right: -37px;
    background: url(../images/decision_icon.png);
}
.decision_box-title {
    color: rgb(19, 19, 19);
    font-family: "druk";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 20px;
    text-align: center;
}
.decision_box-text {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
}



.benefits_wrap {
    display: flex;
    justify-content: space-between;
}
.benefits_img {
    width: 560px;
    height: 372px;
    position: relative;
}
.benefits_img:after {
    position: absolute;
    content: "";
    width: 126px;
    height: 126px;
    border-radius: 50%;
    background: #8FFF00;
    bottom: 0;
    left: 0;
}
.benefits_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 500px;
}
.benefits_info {
    width: calc(100% - 600px);
}
.benefits_info ul {
    list-style: none;
}
.benefits_info ul li {
    padding-left: 34px;
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    position: relative;
}
.benefits_info ul li + li {
    margin-top: 20px;
}
.benefits_info ul li:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    top: 1px;
    background: url(../images/list2.svg);
}



.block3 {
    margin-bottom: 84px;
}
.step {
}
.block3 {
}
.cont {
}
.step_title {
    text-align: center;
    margin-bottom: 50px;
}
.step_items {
    display: flex;
    justify-content: flex-end;
    gap: 40px;
    flex-wrap: wrap;
    counter-reset: section; 
}
.step_items > * {
    border: 1px solid rgb(19, 19, 19);
    border-radius: 40px;   
    width: calc(100%/3 - 27px); 
    padding: 30px;
    position: relative;
}
.step_item-number {
    background: #FF0090;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-family: "druk";
    font-size: 36px;
    font-weight: 700;
    line-height: 70px;
    text-align: center;
    margin: 0 auto 16px;
}
.step_item-title {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 10px;
}
.step_item-text {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
}
.step_item:nth-child(1)::after {
    position: absolute;
    content: "";
    width: 41px;
    height: 22px;
    right: -41px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/arrow1.svg);
}
.step_item:nth-child(2)::after {
    position: absolute;
    content: "";
    width: 41px;
    height: 22px;
    right: -41px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/arrow1.svg);
}
.step_item:nth-child(3)::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 41px;
    right: 50%;
    bottom: -41px;
    transform: translateX(11px);
    background: url(../images/arrow2.svg);
}
.step_item:nth-child(4)::after {
    position: absolute;
    content: "";
    width: 41px;
    height: 22px;
    right: -42px;
    top: 50%;
    transform: translateY(-50%);
    background: url(../images/arrow3.svg);
}




.training_title {
    text-align: center;
    margin-bottom: 50px;
}
.training_items {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.training_item {
    border-radius: 40px;
    background: rgb(255, 242, 249);
    padding: 30px 40px 30px 0;
    display: flex;
    gap: 20px;
}
.training_item:nth-child(1) {
    width: 470px;
}
.training_item:nth-child(2) {
    width: calc(100% - 510px);
}
.training_item:nth-child(3) {
    width: 100%;
}
.training_item:nth-child(4) {
    width: calc(100% - 510px);
}
.training_item:nth-child(5) {
    width: 470px;
}
.training_item-icon {
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #FF0090;
    flex-shrink: 0;
    margin-top: -50px;
    margin-left: -10px;
}
.training_item-title {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 10px;
}
.training_item-text {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}




.advantages {
}
.block3 {
}
.cont {
}
.advantages_title {
    text-align: center;
    margin-bottom: 50px;
}
.title {
}
.advantages_items {
    display: flex;
    gap: 40px;
    flex-wrap: wrap;
}
.advantages_items > * {
    width: calc(100%/2 - 140px);
    display: flex;
    gap: 20px;
    background: #F2F3F7;
    border-radius: 40px;
    
}
.advantages_item {
    margin-left: 120px;
}
.advantages_item-img {
    width: 240px;
    height: 240px; 
    flex-shrink: 0;  
    margin-left: -120px; 
}
.advantages_item-img img {
    width: 100%;
    height: 100%;   
    border-radius: 50%; 
    object-fit: cover;
}
.advantages_item-info {
    padding: 30px 40px 30px 0;
}
.advantages_item-title {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 10px;
}
.advantages_item-text {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
}




.client .cont {
    max-width: 1000px;
}
.client_title {
    margin-bottom: 20px;
    text-align: center;
}
.client_text {
    margin-bottom: 50px;
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
    letter-spacing: -1%;
    text-align: center;
}
.client_items,
.client_items2 {
    margin-bottom: 40px;    
}
.client_items3 {
    margin-bottom: 50px;
}
.client_item {
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgb(19, 19, 19);
    border-radius: 30px;
    text-align: center;
}
.client_items-title {
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
    margin-bottom: 30px;
}
.swiper {
    padding-bottom: 35px;
}
.swiper-horizontal>.swiper-pagination-bullets, 
.swiper-pagination-bullets.swiper-pagination-horizontal, 
.swiper-pagination-custom, 
.swiper-pagination-fraction {
    bottom: 0px;
}
.swiper-pagination-bullet {
    display: block;
    width: 10px;
    height: 10px;
    transition: .2s linear;
    pointer-events: auto;
    opacity: 1;
    border-radius: 50%;
    background: #D9D9D9;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
}
.swiper-pagination-bullet + .swiper-pagination-bullet {
    margin-left: 10px !important;
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
    background: #8FFF00;
}
.case .swiper {
    /* padding: 0 100px; */
}
.case_box {
    background:#F2F3F7;
    border-radius: 40px;
    padding: 50px;
    margin: 0 100px;
}
.case_title {
    margin-bottom: 10px;
    color: rgb(19, 19, 19);
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    text-align: center;
}
.case_text {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    text-align: center;
}
.case_text p + p {
    margin-top: 10px;
}
.case .swiper {
    padding-bottom: 0;
}
.swiper-button-prev {
    width: 60px;
    height: 40px;
    border-radius: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F3F7;
    left: 0;
}
.swiper-button-next {
    width: 60px;
    height: 40px;
    border-radius: 107px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F2F3F7;
    right: 0;
}
.swiper-button-next:hover,
.swiper-button-prev:hover {
    background: #8FFF00;
}
.client_btn {
    border-radius: 63px;
    background: rgb(143, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    width: 313px;
    height: 58px;
    text-decoration: none;
    margin: 50px auto 20px;
}
.client_text {
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 300;
    line-height: 1.25;
    letter-spacing: -1%;
    text-align: center;  
    max-width: 610px;
    margin: 0 auto;  
}
.map_wrap {
    position: relative;
    overflow: hidden;
    width: 560px;
    height: 491px;
    margin-left: auto;
    transform: translateZ(0);
    border-radius: 40px;
    flex-shrink: 0;
}
#map {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ymaps-2-1-79-ground-pane {
	filter: grayscale(1);
	-ms-filter: grayscale(1);
	-webkit-filter: grayscale(1);
	-moz-filter: grayscale(1);
	-o-filter: grayscale(1);
}
.callback_contacts {
    padding: 20px;
    border-radius: 20px;
    background: rgb(68, 68, 68);
    position: absolute;
    bottom: 30px;
    left: 30px;
}
.callback_phone {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 10px;
    margin-bottom: 10px;
}
.callback_adress {
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-weight: 400;
    line-height: 1.25;
    display: flex;
    align-items: flex-start;
    text-decoration: none;
    gap: 10px;
}
.callback_graffic {
    color: rgb(143, 255, 0);
    font-size: 10px;
    font-weight: 300;
    line-height: 1.3;   
}
.callback {
    padding: 80px 0 100px;
    background: #FF0090;
}
.callback_wrap {
    display: flex;
    gap: 40px;
}
.callback_info {
    width: calc(100% - 600px);
    width: 100%;
}
.callback_title {
    margin-bottom: 40px;
    color: #fff;
}
.callback .line {
    width: 100%;
    margin-bottom: 16px;
}
.callback .line .field {
    width: 100%;
    display: block;
}
.callback .line .field input {
    width: 100%;
    height: 60px;
    padding: 0 30px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    border: none;
    color: #131313;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.25;
    font-family: var(--font_family);
}
.callback .line .field textarea {
    width: 100%;
    height: 60px;
    resize: none;
    padding: 0 30px;
    border-radius: 40px;
    background: rgb(255, 255, 255);
    border: none;
    color: #CBCBCB;
    font-size: 18px;
    font-weight: 400;
    line-height: 60px;
    font-family: var(--font_family);
    display: block;
}
.callback .line .field input::placeholder {
	color: #CBCBCB;
}
.callback .line .field input::-webkit-input-placeholder {
	color: #CBCBCB;
}
.callback .line .field input::-moz-placeholder {
	color: #CBCBCB;
}
.callback .line .field input:-moz-placeholder {
	color: #CBCBCB;
}
.callback .line .field input:-ms-input-placeholder {
	color: #CBCBCB;
}
.callback .line .field textarea::placeholder {
	color: #CBCBCB;
}
.callback .line .field textarea::-webkit-input-placeholder {
	color: #CBCBCB;
}
.callback .line .field textarea::-moz-placeholder {
	color: #CBCBCB;
}
.callback .line .field textarea:-moz-placeholder {
	color: #CBCBCB;
}
.callback .line .field textarea:-ms-input-placeholder {
	color: #CBCBCB;
}
.callback button {
    border-radius: 63px;
    background: rgb(143, 255, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: rgb(19, 19, 19);
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
    text-align: center;
    width: 297px;
    height: 61px;
    text-decoration: none;
    margin-top: 30px;
}